---
version: '3'

services:
  executor-on-s3:
    container_name: executor-on-s3
    build:
      context: .
      dockerfile: Dockerfile
    image: dceoy/executor-on-s3:latest
    devices:
      - /dev/fuse:/dev/fuse
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    environment:
      MOUNT_S3_BUCKET: ssr-io-012345678901
      MOUNT_S3_DIRECTORY: /mnt/s3
      MOUNT_S3_OPTIONS: --allow-delete --dir-mode=0755 --file-mode=0644
    entrypoint:
      - /usr/local/bin/executor-on-s3
    command:
      - /mnt/s3/test.sh
